.myBox{
    display:flex;
}


.boxTabPanel{
    
    display:flex;
    flex-direction: column;
    width:100%;
}

.containerChatMessageTab{
  width:100%;
  background-image: url('../images/background-chat2.png');
  background-repeat:no-repeat;
  height:85vh;
  overflow-y: scroll;
 
}



.divMessageListLeft, .divMessageListRight{
    position:relative;
    width: 60%;
}

.divMessageListLeft{
    float:left;
    width: 75%;
}

.divMessageListRight{
    float:right;
}


.divMessageListLeft img{
    left:1px;
}

.divMessageListRight img{
    right:1px;
}

.nameSendMessageLeft, .nameSendMessageRight{
   
    color: #00000073;
     font-size: 12px;
    position:absolute;
    z-index:99999;
  }

.nameSendMessageLeft{
    left:30px;
    top:10px;
}

.messageEnd{
    height:1px;
    clear:both;
}




.boxSendMessage{
    border-left: 1px solid #e9edef;
    background-color:#f0f2f5;
    height:15vh;
    width:100%;
}

.inputSendMessage{
    width: 75%;
    border: none;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px #00000012;
    border-radius: 5px;
}






.MuiTabs-root.MuiTabs-vertical{
    min-width:100px;

}

.rce-mbox.rce-mbox-right{
  
    background-color: #d9fdd3;
    padding-top:10px;
 
  }

  .rce-mbox-right-notch{
    fill: #d9fdd3;
    filter: drop-shadow(2px 0 1px rgba(0,0,0,.2));
    height: 15px;
    position: absolute;
    right: -14px;
    top: 0;
    width: 15px;
  }



  .rce-container-mbox{
    min-width: auto;
  }

  .rce-mbox{
    margin-top: 6px!important;
    padding-top:20px;
  }

  .rce-container-input{
    height:100%!important;
  }


  .rce-mbox-text{
    font-size:12.5px!important;
    line-height: 16px;
  }

 

  .rce-input-textarea{
    overflow:hidden!important;
    margin-left:60px;
    border-left:1px solid #bebebe;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .MuiButtonBase-root{
    width: 36px!important;
    height: 36px!important;
  }